{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "warn",
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": "off",
    "react/prefer-stateless-function": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
